*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 100vw;
    margin-bottom: -5px;
}
a{
    height: 50px;
    background-image: linear-gradient(to right, #8f4848, rgb(180, 89, 89));
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}


a:hover{
    color: white;
}